.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1 {
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.home>img {
    width: 16em;
    margin-top: 4em;
}



.searchWrap {
    border-radius: 18px;
    border: 2px solid #d04444;
    width: 50em;
    display: flex;
    overflow: hidden;
    padding-right: 17px;
}

.toggleWrap {
    width: 50em;
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
    gap: 10px;
    flex-wrap: wrap;
}

.toggleWrap .toggle {
    display: flex;
    background-color: white;
    color: #d04444;
    border: 2px solid #d04444;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 17px;
    transition: all 0.25s ease;
}

.toggleWrap .toggle:hover {
    transform: scale(1.03);
}

.toggleWrap .toggle.active {
    background-color: #d04444;
    color: white;
}


.home input {
    padding: 10px 17px;
    width: 100%;
    border: none;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
}

.colleges {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50em;
    margin-bottom: 60px;
    margin-top: 30px;
}

.colleges.courses{
    width: 100%;
}

.colleges .collegeCard {
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 20px;
    border-radius: 14px;
    gap: 23px;
    text-decoration: none;
    color: black;
}

.collegeCard>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.collegeCard>div>a {
    text-decoration: none;
    margin-top: 3px;
}

.collegeCard>div>a:hover {
    text-decoration: underline;
}

.collegeCard img {
    width: 8em;
    object-fit: contain;
    min-width: 8em;
}

.collegeCard .subjects {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
}

.collegeCard .subjects a {
    background-color: #d04444;
    color: white;
    padding: 4px 8.5px;
    text-decoration: none;
    border-radius: 8px;
    border: 1.5px solid #d04444;
    transition: all 0.2s ease;

}

.collegeCard .subjects a:hover {
    background-color: white;
    color: #d04444;
    border: 1.5px solid #d04444;
}

.collegeCard h3 span {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.3em;
    display: inline-block;
}

.collegeCard h4{
    font-weight: 500;
}

.collegeCard .description {
    font-weight: 400;
    max-lines: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    transition: all 0.3s ease;
}

.collegeCard .description:hover {
    line-clamp: unset;
    max-lines: unset;
    -webkit-line-clamp: unset;
}

.collegeCard .subject span {
    font-weight: 600;
    color: black;
}

.collegeCard .subject {
    color: #d04444;

}

.toggleWrap .export{
    align-self: center;
    margin-left: auto;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .colleges{
        width: 90%;
    }
    .searchWrap{
        width: 90%;
    }
    .toggleWrap{
        width: 90%;
    }
}