.courseWrap{
    padding-inline : 5em;
    padding-block: 3em;
}

.courseWrap > h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.8em;
}

.courseWrap .loaderText{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.8em;
}