.searchContainer {
  min-width: 10rem;
  width: 100%;
  border-radius: 18px;
  border: 2px solid #d04444;
  display: flex;
  overflow: hidden;
  padding-right: 17px;
}

.input {
  padding: 10px 17px;
  width: 100%;
  border: none;
  font-size: 1.1rem;
}

.input:focus {
  outline: none;
}
